@import "tailwindcss";

@keyframes slideUp {
    from { transform: translateY(24px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }


html , body{
  background-color: rgb(1, 1, 34);
}
